<form id="formid">
  <div class="labelinput">
    <label class="labelclass" for="name">Name:</label>
    <div class="inputfield" >{{username}}</div>
  </div>
  <p>We will never share your Email with anyone else.</p>
  <div class="labelinput">
    <label class="labelclass" for="email">Email:</label>
    <div class="inputfield" >{{useremail}}</div>
  </div>
  <div class="labelinput">
    <label class="labelclass" for="password">Password:</label>
    <div class="inputfield" >{{userpassword}}</div>
  </div>
  <div class="labelinput">
    <label> <input id="checkboxinput" type="checkbox"  name="agree">  I agree to the terms</label>
  </div>
  <button id="btn" type="submit">Submit</button>
</form>
